.headerContainer {
    font-family: 'Special Elite', cursive;
    background: url("../assets/fondoElegante.jpg");
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    width: 100%;
    padding: 15px;
}

.headerContainer .imgHeader img {
    width: 80%;
    border-radius: 50%;
    box-shadow: -8px -8px 3px rgb(100, 100, 100);
}

.titleHeader {
    flex: 45%;
}

.titleHeader h1{
    font-size: 70px;
    margin-bottom: 20px;
}
.titleHeader h3{
    font-size: 35px;
    margin-bottom: 10px;
}

.imgHeader{
    display: flex;
    justify-content: end;
    align-items: center;
}

.imgHeader {
    flex: 45%;
}