.contenedorItems {
    background-image: url("../assets/img/nnnoise.svg");
    font-family: 'Special Elite', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

